body {
    background-color: #f7edf5;
    color: #a105af;
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(187,227,243);
    padding: 20px;
    font-size: 32px;
    color: rgb(42,122,228);

}
section{
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

chamada-texto{
    margin-rigth: 5%
}
h1{
    font-size: 40px;
}
p {
    font-size: 20px;
}
footer {
    background-color:#ec69f8;
    color:rgb(148, 252, 252);
    bottom:0;
    position:fixed;
    width:100%;

}

footer p{
    text-align: center;
    font-size: 14px;
    margin: top 3px;
    
}